.common-color {
    color: var(--bg-color);
}

.glow-input:hover {
    box-shadow: 0 0 30px rgba(0, 123, 255, 0.5);
}

.service-card {
    padding: 10px 20px;
    border: 1px solid #1976d2;
    border-radius: 9px;
    background-color: #1c1c1c;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.service-icon {
    margin-bottom: 10px;
}

.service-icon svg {
    font-size: 40px;
}

.service-info p {
    color: rgb(133, 124, 124);
    margin-top: 20px;
    font-size: 15px;
}

.service-info h4 {
    font-size: 20px;
    margin-top: 10px;
}

.service-card:hover {
    box-shadow: 0 0 20px #1976d2,
        0 0 40px rgba(0, 255, 255, 0.4),
        0 0 60px rgba(0, 255, 255, 0.2);
    transform: translateY(-10px);
}

.slider-card-img {
    width: 80px;
    border-radius: 50%;
    margin: auto;
}

.slider-card-img img {
    width: 100%;
    border-radius: 50%;
}

.slider-card-text {
    width: 600px;
    margin: auto;
}

.carousel-indicators {
    display: none;
}
.logo-slider {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .slider-track {
    display: flex;
    width: calc(250px * 8);
    animation: scroll 20s linear infinite;
  }
  
  .slide-1 {
    width: 110px;
    padding: 10px;
  }
  
  .slide-1 img {
    width: 100%;
    height: auto;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

@media (max-width: 768px) {
    .banner-left {
        text-align: center;
    }

    .slider-card-text {
        width: 480px;
    }
}

@media (max-width: 557px) {
    .slider-card-text {
        width: 257px;
    }
}